<section id="create-facility-section">
    <h1 class="item">New Facility</h1>
    <main class="item padded align-center">
        <form action="/facility/create" method="post" class="layout large aligned">
                <label><span>Label</span><input type="text" name="label"></label>
                <label><span>Icon Url</span><input type="text" name="iconUrl"></label>
            <div class="align-center">
                <input type="submit" class="action" value="Publish item">
            </div>
        </form>
    </main>
</section>