<h1 class="item">Softuni Sleepover!</h1>
<div class="item">
    <main class="layout left med">
        <div class="col">
            <img src="/static/assets/splash.jpg" class="img-med" alt="">
        </div>
        <div class="content med-pad">
            <p>Welcome to Softuni Sleepover!</p>
            <p>Quickly find affordable accomodation anywhere in the country.</p>

            <div class="align-center">
                <a href="/catalog" class="action">Browse Listings</a>
                <a href="/create" class="action">Host New Accomodation</a>
            </div>
        </div>
    </main>
</div>
