<section id="create-section">

    <h1 class="item">Login</h1>

    <main class="item padded align-center">

        <form action="/auth/login   " method="post" class="layout left large">
        {{#if error}}
        <div class="error-box">
            {{#each error}}
            <p>{{this}}</p>
            {{/each}}
            </div>
        {{/if}}
            <div class="aligned">
                <label><span>Username</span><input type="text" name="username"></label>
                <label><span>Password</span><input type="password" name="password"></label>
            </div>
                <input type="submit" class="cta action" value="Sign In">
                
        </form>
    </main>
</section>