<section id="create-section">

    <h1 class="item">Register</h1>

    <div class="padded">

        <main class="item align-center">

            <form action="/auth/register" method="post" class="layout left large">
            {{#if error}}
            <div class="error-box">
                {{#each error}}
                <p>{{msg}}</p>
                {{/each}}
                </div>
            {{/if}}
                <div class="aligned">
                    
                    <label><span>Username</span><input {{#if fields.username}} class="field-error" {{/if}} type="text" name="username" value="{{body.username}}"></label>
                    <label><span>Password</span><input {{#if fields.password}} class="field-error" {{/if}} type="password" name="password"></label>
                    <label><span>Repeat</span><input {{#if fields.repass}} class="field-error" {{/if}} type="password" name="repass"></label>
                    
                </div>
                    <input type="submit" class="cta action" value="Sign Up">
                    
            </form>
        </main>

        <footer>Already have an account? <a href="/auth/login">Sign in here!</a></footer>

    </div>
</section>